<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
    <title>Task Details</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<h1>Task Details</h1>
<h2 th:text="${task.title}"></h2>
<p th:text="${task.description}"></p>
<a th:href="@{/tasks/{id}/update(id=${task.id})}">Edit</a>
<form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post">
    <button type="submit">Delete</button>
</form>
<a href="/tasks">Back to List</a>
</body>
</html>